body{
	margin-top: 0; 
	text-align: center;
	background-color: #fafafa;
}
div#body{
	margin-top: 30px;
}
div#nav{
	position: sticky;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	border-bottom: 1px solid #dbdbdb;
}
div#navigation{
	width: 935px;
	height: 54px;
	background-color: #ffffff;
}
a#logo{
	margin-top: 9px;
	height: 36px;
	width: 360px;
	text-align: left;
}
div#navIcons{
	margin-top: 13px;
	width: 360px;
}
#navigation input[type=text] {
	margin-top: 13px;
	width: 215px;
	height: 28px;
	background-color: #fafafa;
	text-align: center;
	background-image: url(https://img.icons8.com/material-outlined/18/000000/search--v1.png);
	background-position: 60px;
	background-repeat: no-repeat;
	margin-bottom: 6px;
}
input#search:focus {
    background-image:none;
    text-indent:0px;
}

h3{
	margin: 0;
}
img#pp{
	border-radius: 50%;
	width: 25px;
}
a.icons{
	padding-left: 15px;
}
div#contents{
	width: 935px;
}
div.container{
	padding: 0;
	margin-top: 30px;
	background-color: #ffffff;
	border:1px solid #dbdbdb;
	margin-bottom: 60px;
}
div.header{
	padding: 16px;
	height: 60px;
}
.footer{
	padding: 16px;
	padding-top: 0;
}
img.userphoto{
	position: relative;
	padding: 2px;
	top: -6px;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	border: 2px solid #df4173;
}
a.profileLink{
	color: black;	
}
div.username{
	position: relative;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	width: 814px;
	text-align: left;
}
span.float-right{
	position: relative;
	top: -11px;
}
button.button-clear{
	font-size: 18px;
}
img.uploadedImg{
	max-height: 613px;

}
div.body{
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
div.img{
	height: 613px;
	width: 613px;
}
div.buttonSection{
	position: relative;
	left: -5px;
	padding: 0;
}
div.buttonSection button{
	padding: 7px;
}
.likeSection{
	color: black;
	font-size: 14px;
}
